# Keep documentation/reference files from dominating GitHub's language detection.
*.pdf linguist-vendored
*.rtf linguist-vendored

# Display the repository as Shell in GitHub language detection.
*.py linguist-language=Shell
